body{
    text-align: center;
    background-color: rgb(231, 219, 219);
    margin: 0;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

section{
    background: linear-gradient(90deg, rgba(114,179,214,1) 9%, rgba(22,99,170,1) 92%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(46, 145, 184);
    color: white;
    max-width: 300px;
}

button{
    background-color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(46, 145, 184);
    max-width: 90%;
}

.activarmodal{
    display: block;
}

.cerrar{
    background-color: red;
    color: white;
    padding: 10px 20px;
}

.verificar{
    background-color: green;
    color: white;
    margin-left: 10px;
}

respuesta{
    padding: 5px;
    border-radius: 5px;
}
